{% extends 'base.html.twig' %}
{% block body %}

    <ul class="card-columns">
        {% for item in movies %}
            <a  class ="" href="{{ url('FilmsParametres' , {'query': item.imdbID}) }}">
                <li class="list-group-item card">
                    <div >
                        <img src="{{item.Poster}}" title="{{ item.Title|escape( 'html_attr')}}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ item.Title }}</h5>
                        </div>
                    </div>
                </li>
            </a>
        {% endfor %}
    </ul>

{% endblock %}